In [17]:
# import packages for alpaca, panadas and OS/dotenv to read .env file with api keys
import os
import pandas as pd
import numpy as np
import alpaca_trade_api as tradeapi
# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv()
import pathlib as Path

In [18]:
#helpful maybe?
from datetime import datetime, timedelta

days = 90
startdate = datetime.now() - timedelta(days=days)

# for fixed dates
start = pd.to_datetime('2002-01-01')
end = pd.to_datetime('2020-01-01')

In [19]:
# storing alpaca key and secret key in variables 
alpaca_api_key = os.getenv('ALPACA_API_KEY')
alpaca_secret_key = os.getenv('ALPACA_SECRET_KEY')

api = tradeapi.REST(alpaca_api_key,alpaca_secret_key,api_version='V2')

In [61]:
# set time frame
timeframe = '1D'

# start and 'end' date for covid stock market 


start_date_covid = pd.Timestamp('2019-12-01',tz='America/New_York').isoformat()
end_date_covid = pd.Timestamp('2020-11-20',tz='America/New_York').isoformat()

# start and end date for 2008 recession 
start_date_2008 = pd.Timestamp('2007-07-01',tz='America/New_York').isoformat()
end_date_2008 = pd.Timestamp('2009-07-01',tz='America/New_York').isoformat()

# set entertainment tickers (per industry)
ent_tickers = ['IMAX','DIS','NFLX','CNK','SNE']
fast_food_tickers = ['MCD','WEN','YUM','DPZ','CMG']
tech_tickers = ['AMD', 'AAPL', 'MSFT', 'GOOG', 'INTC']
tickers_travel_airline = ['EXPE','BKNG','DAL','AAP','LUV']
energy_tickers = ['XOM','BP','COP','CVX', 'TOT']

# financeind_tickers
# techind_tickers etc

# get stock data from covid
entertainment_tickers_covid  = api.get_barset(ent_tickers,timeframe,start=start_date_covid,end = end_date_covid).df
fastfood_tickers_covid = api.get_barset(fast_food_tickers,timeframe,start=start_date_covid,end = end_date_covid).df
covid_tech_ticker = api.get_barset(tech_tickers,timeframe,start=start_date_covid,end = end_date_covid).df
tra_air_covid_ticker = api.get_barset(tickers_travel_airline,timeframe,start=start_date_covid,end = end_date_covid).df
energy_covid_ticker = api.get_barset(energy_tickers,timeframe,start=start_date_covid,end = end_date_covid).df


# get stock data from 2008 recession
entertainment_tickers_2008 = api.get_barset(ent_tickers,timeframe,start=start_date_2008,end = end_date_2008).df
fastfood_tickers_2008 = api.get_barset(fast_food_tickers,timeframe,start=start_date_2008,end = end_date_2008).df
tech_ticker2008 = api.get_barset(tech_tickers,timeframe,start=start_date_2008,end = end_date_2008).df
tra_air_ticker2008 = api.get_barset(tickers_travel_airline,timeframe,start=start_date_2008,end = end_date_2008).df
energy_ticker2008 = api.get_barset(energy_tickers,timeframe,start=start_date_2008,end = end_date_2008).df

In [35]:

covid_sp500_df = pd.read_csv("COVID_SP500.csv", index_col="Date", parse_dates=True, infer_datetime_format=True)


covid_sp500_df = covid_sp500_df[['Adj Close']]
covid_sp500_df.head()

              Adj Close
Date
2019-12-02  3113.870117
2019-12-03  3093.199951
2019-12-04  3112.760010
2019-12-05  3117.429932
2019-12-06  3145.909912

In [36]:

sp500_2008_df = pd.read_csv("S&P_Jul_2007_2009.csv", index_col="Date", parse_dates=True, infer_datetime_format=True)


sp500_2008_df = sp500_2008_df[['Adj Close']]
sp500_2008_df.head()

              Adj Close
Date
2007-07-02  1519.430054
2007-07-03  1524.869995
2007-07-05  1525.400024
2007-07-06  1530.439941
2007-07-09  1531.849976

In [57]:
tra_air_ticker2008.head()

                             AAP                                  BKNG  \
                            open   high    low  close   volume    open
2008-01-02 00:00:00-05:00  37.91  38.15  37.17  37.58  1767800  116.87
2008-01-03 00:00:00-05:00  37.58  38.16  37.35  37.91  1581500  115.71
2008-01-04 00:00:00-05:00  37.52  37.59  35.67  35.69  1839914  110.43
2008-01-07 00:00:00-05:00  35.76  37.42  35.50  37.25  2276807  108.76
2008-01-08 00:00:00-05:00  37.41  37.87  35.29  35.32  1796114  105.00

                                                            ...   EXPE         \
                             high     low   close   volume  ...   open   high
2008-01-02 00:00:00-05:00  119.00  113.20  115.21  1581451  ...  63.30  63.76
2008-01-03 00:00:00-05:00  116.00  110.63  111.40  1129446  ...  61.34  61.76
2008-01-04 00:00:00-05:00  110.49  106.49  107.54  1364556  ...  62.58  62.62
2008-01-07 00:00:00-05:00  108.80   99.50  105.18  1517630  ...  59.12  59.12
2008-01-08 00:00:00-05:00  109.50  101.89  102.10  1408169  ...  58.16  59.50

                                                    LUV                       \
                             low  close   volume   open   high    low  close
2008-01-02 00:00:00-05:00  60.34  61.10  1645025  12.18  12.30  11.76  11.79
2008-01-03 00:00:00-05:00  60.74  61.10   923032  11.86  12.00  11.52  11.61
2008-01-04 00:00:00-05:00  58.54  59.12  1223944  11.50  11.58  11.30  11.42
2008-01-07 00:00:00-05:00  57.84  58.28  1253254  11.50  11.88  11.49  11.88
2008-01-08 00:00:00-05:00  57.40  57.62  1763544  11.91  11.91  11.28  11.28


                            volume
2008-01-02 00:00:00-05:00  6473037
2008-01-03 00:00:00-05:00  7658719
2008-01-04 00:00:00-05:00  6366073
2008-01-07 00:00:00-05:00  8413243
2008-01-08 00:00:00-05:00  7775430

[5 rows x 25 columns]

In [62]:
# create new covid and 2008 dataframe to store ckosing prices of each stock

ent_closingprices_covid = pd.DataFrame()
covid_closingprices_ff= pd.DataFrame()
covid_tech_closingprices = pd.DataFrame()
covid_travel_closingprices = pd.DataFrame()
energy_covid_closingprices = pd.DataFrame()

# get closing prices for all tickers (entertainment)
for ticker in ent_tickers:
    ent_closingprices_covid[ticker]=entertainment_tickers_covid[ticker]['close']

# get closing prices for all tickers (fast food)
for ticker in fast_food_tickers:
    covid_closingprices_ff[ticker]=fastfood_tickers_covid[ticker]['close']
    
# get closing prices for all tickers (tech)
for ticker in tech_tickers:
    covid_tech_closingprices[ticker]=covid_tech_ticker[ticker]['close']
    
# get closing prices for all tickers (travel)
for ticker in tickers_travel_airline:
    covid_travel_closingprices[ticker]=tra_air_covid_ticker[ticker]['close']

# get closing prices for all tickers (Energy)
for ticker in energy_tickers:
    energy_covid_closingprices[ticker]=energy_covid_ticker[ticker]['close']

# drop time component on index
ent_closingprices_covid.index = ent_closingprices_covid.index.date
covid_closingprices_ff.index = covid_closingprices_ff.index.date
covid_tech_closingprices.index = covid_tech_closingprices.index.date
covid_travel_closingprices.index = covid_travel_closingprices.index.date
energy_covid_closingprices.index = energy_covid_closingprices.index.date


energy_covid_closingprices.head()

              XOM     BP    COP     CVX    TOT
2019-12-02  68.44  37.31  60.39  116.85  52.21
2019-12-03  67.90  36.82  58.91  115.86  51.84
2019-12-04  68.65  37.07  60.63  116.95  52.29
2019-12-05  68.41  36.64  59.84  116.34  52.28
2019-12-06  69.50  37.10  61.95  117.99  52.97

In [63]:
ent_closingprices2008 = pd.DataFrame()
closingprices2008_ff = pd.DataFrame()
tech_closingprices2008 = pd.DataFrame()
travel_closingprices2008 = pd.DataFrame()
energy_closingprices2008 = pd.DataFrame()

# get closing prices for all tickers (entertainment)
for ticker in ent_tickers:
    ent_closingprices2008[ticker]=entertainment_tickers_2008[ticker]['close']

# get closing prices for all tickers (fast food)
for ticker in fast_food_tickers:
    closingprices2008_ff[ticker]=fastfood_tickers_2008[ticker]['close']

# get closing prices for all tickers (tech)
for ticker in tech_tickers:
    tech_closingprices2008[ticker]=tech_ticker2008[ticker]['close']
    
# get closing prices for all tickers (travel)
for ticker in tickers_travel_airline:
    travel_closingprices2008[ticker]=tra_air_ticker2008[ticker]['close']
    
# get closing prices for all tickers (energy)
for ticker in energy_tickers:
    energy_closingprices2008[ticker]=energy_ticker2008[ticker]['close']
    
# drop time component on index
ent_closingprices2008.index = ent_closingprices2008.index.date
closingprices2008_ff.index = closingprices2008_ff.index.date
tech_closingprices2008.index = tech_closingprices2008.index.date
travel_closingprices2008.index = travel_closingprices2008.index.date
energy_closingprices2008.index = energy_closingprices2008.index.date


energy_covid_closingprices.head()

              XOM     BP    COP     CVX    TOT
2019-12-02  68.44  37.31  60.39  116.85  52.21
2019-12-03  67.90  36.82  58.91  115.86  51.84
2019-12-04  68.65  37.07  60.63  116.95  52.29
2019-12-05  68.41  36.64  59.84  116.34  52.28
2019-12-06  69.50  37.10  61.95  117.99  52.97

In [65]:
# calculate daily returns for each timeframe (entertainment)
ent_covid_dr = ent_closingprices_covid.pct_change().dropna()
ent_returns2008 = ent_closingprices2008.pct_change().dropna()

# calculate daily returns for each timeframe (fast food)
ff_covid_dr = covid_closingprices_ff.pct_change().dropna()
ff_returns2008 = closingprices2008_ff.pct_change().dropna()

# calculate daily returns for each timeframe (fast food)
tech_covid_dr = covid_closingprices_ff.pct_change().dropna()
tech_returns2008 = closingprices2008_ff.pct_change().dropna()

# calculate daily returns for each timeframe (Travel)
travel_covid_dr = covid_travel_closingprices.pct_change().dropna()
travel_returns2008 = travel_closingprices2008.pct_change().dropna()

# calculate daily returns for each timeframe (Energy)
energy_covid_dr = energy_covid_closingprices.pct_change().dropna()
enerygy_returns2008 = energy_covid_closingprices.pct_change().dropna()

In [72]:
# optimal weights for COVID by industry
# CODE FOR ALL WEIGHT OPTIMIZATION IN INDIVIDUAL INDUSTRY NOTEBOOKS
weights_array_covid_ent = np.array([1.99037306e-04, 7.48042464e-03, 4.68559570e-01, 2.29580098e-02,5.00802959e-01])
ff_covid_weights_array = np.array([0.0081001 , 0.02144947, 0.00317154, 0.44037344, 0.52690545])


# optimal weights for 2008 by industry
weights_array_2008_ent = np.array([0.29430474, 0.16388926, 0.53320127, 0.00709684, 0.00150789])
ff_2008_weights_array = np.array([0.51671353, 0.00217503, 0.42314488, 0.04618614, 0.01178043])

In [73]:
# Expected returns, volatility and sharpe ratio of entertainment industry based on optimal weights

# COVID - ENTERTAINMENT
print(energy_covid_closingprices.columns)

#expect returns
print('Expected returns')
ent_covid_exp_return = np.sum((ent_covid_dr.mean()*weights_array_covid_ent)*252)
print(ent_covid_exp_return)

#expected STD/volatility
print('Expected volatility')
ent_covid_exp_volat = np.sqrt(np.dot(weights_array_covid_ent.T, np.dot(ent_covid_dr.cov()*252, weights_array_covid_ent)))
print(ent_covid_exp_volat)

#Shape ratio
print('Shape ratio')
ent_covid_sharpe = ent_covid_exp_return/ent_covid_exp_volat
print(ent_covid_sharpe)

Index(['XOM', 'BP', 'COP', 'CVX', 'TOT'], dtype='object')
Expected returns
0.4780739172866787
Expected volatility
0.3456871455096678
Shape ratio
1.3829670078759364

In [74]:
# Expected returns, volatility and sharpe ratio of entertainment industry based on optimal weights

# 2008 - ENTERTAINMENT
print(energy_covid_closingprices.columns)

#expect returns
print('Expected returns')
ent_2008_exp_return = np.sum((ent_returns2008.mean()*weights_array_2008_ent)*252)
print(ent_2008_exp_return)

#expected STD/volatility
print('Expected volatility')
ent_2008_exp_volat = np.sqrt(np.dot(weights_array_2008_ent.T, np.dot(ent_returns2008.cov()*252, weights_array_2008_ent)))
print(ent_2008_exp_volat)

#Shape ratio
print('Shape ratio')
ent_2008_sharpe = ent_2008_exp_return/ent_2008_exp_volat
print(ent_2008_sharpe)

Index(['XOM', 'BP', 'COP', 'CVX', 'TOT'], dtype='object')
Expected returns
0.5329311622130276
Expected volatility
0.5230281710176725
Shape ratio
1.0189339537411275

In [75]:
# Expected returns, volatility and sharpe ratio of entertainment industry based on optimal weights

#COVID - FAST FOOD

print(covid_closingprices_ff.columns)


#expect returns
print('Expected returns')
ff_covid_exp_return = np.sum((ff_covid_dr.mean()*ff_covid_weights_array)*252)
print(ff_covid_exp_return)

#expected STD/volatility
print('Expected volatility')
ff_covid_exp_volat = np.sqrt(np.dot(ff_covid_weights_array.T, np.dot(ff_covid_dr.cov()*252, ff_covid_weights_array)))
print(ff_covid_exp_volat)

#Shape ratio
print('Shape ratio')
ff_covid_sharpe = ff_covid_exp_return/ff_covid_exp_volat
print(ff_covid_sharpe)

Index(['MCD', 'WEN', 'YUM', 'DPZ', 'CMG'], dtype='object')
Expected returns
0.49277376666912537
Expected volatility
0.39571618619170235
Shape ratio
1.2452706860729827

In [76]:
# Expected returns, volatility and sharpe ratio of entertainment industry based on optimal weights

#2008 - FAST FOOD

print(closingprices2008_ff.columns)


#expect returns
print('Expected returns')
ff_2008_exp_return = np.sum((ff_returns2008.mean()*ff_2008_weights_array)*252)
print(ff_covid_exp_return)

#expected STD/volatility
print('Expected volatility')
ff_2008_exp_volat = np.sqrt(np.dot(ff_2008_weights_array.T, np.dot(ff_returns2008.cov()*252, ff_2008_weights_array)))
print(ff_2008_exp_volat)

#Shape ratio
print('Shape ratio')
ff_2008_sharpe = ff_2008_exp_return/ff_2008_exp_volat
print(ff_2008_sharpe)

Index(['MCD', 'WEN', 'YUM', 'DPZ', 'CMG'], dtype='object')
Expected returns
0.49277376666912537
Expected volatility
0.3517487526076821
Shape ratio
0.11630644077921852

## volatility for 2008 & COVID
* standard deviation
* box & whisker plot?

## Industries
* Tech: AMD, AAPL, MSFT, GOOG, INTC
* Entertainment: IMAX, DIS, NFLX, CNK, SNE
* Fast Food/Restaurants: MCD, WEN, YUM, DPZ, CMG
* Energy: XOM, BP, RDS, COP, CVX
* Travel/Airlines: EXPE, BKNG, DAL, AAP, UAL