In [1]:
import os
import pandas as pd
import numpy as np
import alpaca_trade_api as tradeapi
# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv()
import pathlib as Path

In [2]:
# storing alpaca key and secret key in variables 
alpaca_api_key = os.getenv('ALPACA_API_KEY')
alpaca_secret_key = os.getenv('ALPACA_SECRET_KEY')

api = tradeapi.REST(alpaca_api_key,alpaca_secret_key,api_version='V2')

In [3]:
# set time frame
timeframe = '1D'

# start and 'end' date for covid stock market 
start_date_covid = pd.Timestamp('2020-01-01',tz='America/New_York').isoformat()
end_date_covid = pd.Timestamp('2020-11-20',tz='America/New_York').isoformat()

# start and end date for 2008 recession 
start_date_2008 = pd.Timestamp('2007-07-01',tz='America/New_York').isoformat()
end_date_2008 = pd.Timestamp('2009-07-01',tz='America/New_York').isoformat()

# set tickers (per industry)
tickers = ['IMAX','DIS','NFLX','CNK','SNE']

# get stock data from covid
entertainment_tickers_covid = api.get_barset(tickers,timeframe,start=start_date_covid,end = end_date_covid).df

# get stock data from 2008 recession
entertainment_tickers_2008 = api.get_barset(tickers,timeframe,start=start_date_2008,end = end_date_2008).df

In [4]:
entertainment_tickers_covid.head()

                             CNK                                        DIS  \
                            open    high      low  close     volume    open
2020-01-02 00:00:00-05:00  33.96  34.080  33.6200  34.08  1040940.0  145.29
2020-01-03 00:00:00-05:00  33.72  34.100  33.6400  33.92   985088.0  146.40
2020-01-06 00:00:00-05:00  33.74  34.120  33.6100  33.95   850989.0  145.54
2020-01-07 00:00:00-05:00  33.89  34.255  33.6905  33.88   769439.0  145.99
2020-01-08 00:00:00-05:00  33.79  34.050  32.0100  32.12  2025192.0  145.49

                                                                ...    NFLX  \
                               high       low   close   volume  ...    open
2020-01-02 00:00:00-05:00  148.2000  145.1000  148.18  8086298  ...  326.32
2020-01-03 00:00:00-05:00  147.9000  146.0549  146.48  5618868  ...  326.78
2020-01-06 00:00:00-05:00  146.0300  144.3100  145.65  7363097  ...  323.12
2020-01-07 00:00:00-05:00  146.8699  145.4200  145.68  5725258  ...  336.47
2020-01-08 00:00:00-05:00  146.1300  144.8200  145.45  5742454  ...  331.49

                                                                 SNE         \
                               high     low    close   volume   open   high
2020-01-02 00:00:00-05:00  329.9800  324.78  329.820  3966616  68.30  69.05
2020-01-03 00:00:00-05:00  329.8599  325.53  325.900  3453110  68.50  68.65
2020-01-06 00:00:00-05:00  336.3600  321.20  335.830  5216762  68.25  69.20
2020-01-07 00:00:00-05:00  336.7000  330.30  330.775  4144924  70.51  70.58
2020-01-08 00:00:00-05:00  342.7000  331.05  339.140  6501692  70.80  71.12


                             low  close   volume
2020-01-02 00:00:00-05:00  68.28  69.05   686162
2020-01-03 00:00:00-05:00  67.96  68.08   502012
2020-01-06 00:00:00-05:00  68.22  69.13   722752
2020-01-07 00:00:00-05:00  69.81  70.20  1283831
2020-01-08 00:00:00-05:00  70.37  70.45  1566687

[5 rows x 25 columns]

In [5]:
# create new covid and 2008 dataframe to store ckosing prices of each stock
covid_closingprices_e = pd.DataFrame()

# get closing prices for all tickers
for ticker in tickers:
    covid_closingprices_e[ticker]=entertainment_tickers_covid[ticker]['close']
    
# drop time component on index
covid_closingprices_e.index = covid_closingprices_e.index.date
    
covid_closingprices_e.head()

             IMAX     DIS     NFLX    CNK    SNE
2020-01-02  20.49  148.18  329.820  34.08  69.05
2020-01-03  20.71  146.48  325.900  33.92  68.08
2020-01-06  20.81  145.65  335.830  33.95  69.13
2020-01-07  20.90  145.68  330.775  33.88  70.20
2020-01-08  19.99  145.45  339.140  32.12  70.45

In [6]:
closingprices2008_e = pd.DataFrame()

# get closing prices for all tickers
for ticker in tickers:
    closingprices2008_e[ticker]=entertainment_tickers_2008[ticker]['close']
    
# drop time component on index
closingprices2008_e.index = closingprices2008_e.index.date
    
closingprices2008_e.head()

            IMAX    DIS   NFLX    CNK    SNE
2008-01-02  6.42  31.82  3.761  17.03  54.05
2008-01-03  6.36  27.71  3.721  16.58  54.34
2008-01-04  5.95  31.14  3.516  15.74  52.50
2008-01-07  6.09  31.18  3.557  15.25  54.09
2008-01-08  6.07  30.48  3.329  13.70  54.11

In [7]:
# COVID Entertainment Industry Tickers
covid_closingprices_e.head()

             IMAX     DIS     NFLX    CNK    SNE
2020-01-02  20.49  148.18  329.820  34.08  69.05
2020-01-03  20.71  146.48  325.900  33.92  68.08
2020-01-06  20.81  145.65  335.830  33.95  69.13
2020-01-07  20.90  145.68  330.775  33.88  70.20
2020-01-08  19.99  145.45  339.140  32.12  70.45

In [8]:
# 2008 Entertainment Industry Tickers
closingprices2008_e.head()

            IMAX    DIS   NFLX    CNK    SNE
2008-01-02  6.42  31.82  3.761  17.03  54.05
2008-01-03  6.36  27.71  3.721  16.58  54.34
2008-01-04  5.95  31.14  3.516  15.74  52.50
2008-01-07  6.09  31.18  3.557  15.25  54.09
2008-01-08  6.07  30.48  3.329  13.70  54.11

In [9]:
# daily returns
ent_covid_dr = covid_closingprices_e.pct_change().dropna()
ent_returns2008 = closingprices2008_e.pct_change().dropna()

In [10]:
#Name of stocks in portfolio
print(covid_closingprices_e.columns)

ent_covid_weights = np.full((1, len(covid_closingprices_e.columns)), 1/len(covid_closingprices_e.columns))[0]
print("Weights")
print(ent_covid_weights)

#expect returns
print('Expected returns')
ent_covid_exp_return = np.sum((ent_covid_dr.mean()*ent_covid_weights)*252)
print(ent_covid_exp_return)

#expected STD/volatility
print('Expected volatility')
ent_covid_exp_volat = np.sqrt(np.dot(ent_covid_weights.T, np.dot(ent_covid_dr.cov()*252, ent_covid_weights)))
print(ent_covid_exp_volat)

#Shape ratio
print('Shape ratio')
ent_covid_sharpe = ent_covid_exp_return/ent_covid_exp_volat
print(ent_covid_sharpe)

Index(['IMAX', 'DIS', 'NFLX', 'CNK', 'SNE'], dtype='object')
Weights
[0.2 0.2 0.2 0.2 0.2]
Expected returns
0.201094531446331
Expected volatility
0.5650294220847335
Shape ratio
0.35590099132249126

In [15]:
# running 10k simulations on portfolio
number_ports = 10000
all_weights_ent_covid = np.zeros((number_ports, len(covid_closingprices_e.columns)))
returns_array_ent_covid = np.zeros(number_ports)
volatility_array_ent_covid = np.zeros(number_ports)
sharpe_array_ent_covid = np.zeros(number_ports)

np.random.seed(4)

for index in range(number_ports):
    #weights
    weights = np.array(np.random.random(5))
    weights = weights/np.sum(weights)

    #save weights
    all_weights_ent_covid[index,:] = weights

    #expected returns
    returns_array_ent_covid[index] = np.sum((ent_covid_dr.mean()*weights)*252)

    #expected volatiltiy
    volatility_array_ent_covid[index] = np.sqrt(np.dot(weights.T, np.dot(ent_covid_dr.cov()*252, weights)))

    #sharpe ratio
    sharpe_array_ent_covid[index] = returns_array_ent_covid[index]/volatility_array_ent_covid[index]

In [18]:
sharpe_array_ent_covid.max()

1.183254044664293

In [19]:
index_max_shape_covid_ent = sharpe_array_ent_covid.argmax()
index_max_shape_covid_ent

25

In [20]:
weights_array_covid_ent = all_weights_ent_covid[index_max_shape_covid_ent,:]
weights_array_covid_ent

array([0.03106118, 0.01237398, 0.42092199, 0.02624717, 0.50939568])

In [21]:
#Name of stocks in portfolio
print(closingprices2008_e.columns)

ent_2008_weights = np.full((1, len(closingprices2008_e.columns)), 1/len(closingprices2008_e.columns))[0]
print("Weights")
print(ent_2008_weights)

#expect returns
print('Expected returns')
ent_2008_exp_return = np.sum((ent_returns2008.mean()*ent_2008_weights)*252)
print(ent_2008_exp_return)

#expected STD/volatility
print('Expected volatility')
ent_2008_exp_volat = np.sqrt(np.dot(ent_2008_weights.T, np.dot(ent_returns2008.cov()*252, ent_2008_weights)))
print(ent_2008_exp_volat)

#Shape ratio
print('Shape ratio')
ent_2008_sharpe = ent_2008_exp_return/ent_2008_exp_volat
print(ent_2008_sharpe)

Index(['IMAX', 'DIS', 'NFLX', 'CNK', 'SNE'], dtype='object')
Weights
[0.2 0.2 0.2 0.2 0.2]
Expected returns
0.2843729896979277
Expected volatility
0.49389069316281264
Shape ratio
0.5757812277790446

In [22]:
# running 10k simulations on portfolio
number_ports = 10000
all_weights_ent_2008 = np.zeros((number_ports, len(closingprices2008_e.columns)))
returns_array_ent_2008 = np.zeros(number_ports)
volatility_array_ent_2008 = np.zeros(number_ports)
sharpe_array_ent_2008 = np.zeros(number_ports)

np.random.seed(4)

for index in range(number_ports):
    #weights
    weights = np.array(np.random.random(5))
    weights = weights/np.sum(weights)

    #save weights
    all_weights_ent_2008[index,:] = weights

    #expected returns
    returns_array_ent_2008[index] = np.sum((ent_returns2008.mean()*weights)*252)

    #expected volatiltiy
    volatility_array_ent_2008[index] = np.sqrt(np.dot(weights.T, np.dot(ent_returns2008.cov()*252, weights)))

    #sharpe ratio
    sharpe_array_ent_2008[index] = returns_array_ent_2008[index]/volatility_array_ent_2008[index]

In [23]:
sharpe_array_ent_2008.max()

0.9980743382716556

In [24]:
index_max_shape_2008_ent = sharpe_array_ent_2008.argmax()
index_max_shape_2008_ent

1800

In [25]:
weights_array_2008_ent = all_weights_ent_2008[index_max_shape_2008_ent,:]
weights_array_2008_ent

array([0.37421343, 0.1648781 , 0.44094911, 0.00065947, 0.01929989])