In [17]:
# import packages for alpaca, panadas and OS/dotenv to read .env file with api keys
import os
import pandas as pd
import numpy as np
import alpaca_trade_api as tradeapi
# Load .env enviroment variables
from dotenv import load_dotenv
load_dotenv()
import pathlib as Path

In [18]:
#helpful maybe?
from datetime import datetime, timedelta

days = 90
startdate = datetime.now() - timedelta(days=days)

# for fixed dates
start = pd.to_datetime('2002-01-01')
end = pd.to_datetime('2020-01-01')

In [19]:
# storing alpaca key and secret key in variables 
alpaca_api_key = os.getenv('ALPACA_API_KEY')
alpaca_secret_key = os.getenv('ALPACA_SECRET_KEY')

api = tradeapi.REST(alpaca_api_key,alpaca_secret_key,api_version='V2')

In [20]:
# set time frame
timeframe = '1D'

# start and 'end' date for covid stock market 


start_date_covid = pd.Timestamp('2019-12-01',tz='America/New_York').isoformat()
end_date_covid = pd.Timestamp('2020-11-20',tz='America/New_York').isoformat()

# start and end date for 2008 recession 
start_date_2008 = pd.Timestamp('2007-07-01',tz='America/New_York').isoformat()
end_date_2008 = pd.Timestamp('2009-07-01',tz='America/New_York').isoformat()

# set tickers (per industry)
tickers = ['LB','SBUX','COST','AAPL','MSFT']
# financeind_tickers
# techind_tickers etc

# get stock data from covid
covid_ticker = api.get_barset(tickers,timeframe,start=start_date_covid,end = end_date_covid).df

# get stock data from 2008 recession
ticker2008 = api.get_barset(tickers,timeframe,start=start_date_2008,end = end_date_2008).df

In [21]:

covid_sp500_df = pd.read_csv("COVID_SP500.csv", index_col="Date", parse_dates=True, infer_datetime_format=True)


covid_sp500_df = covid_sp500_df[['Adj Close']]
covid_sp500_df.head()

              Adj Close
Date
2019-12-02  3113.870117
2019-12-03  3093.199951
2019-12-04  3112.760010
2019-12-05  3117.429932
2019-12-06  3145.909912

In [22]:

sp500_2008_df = pd.read_csv("S&P_Jul_2007_2009.csv", index_col="Date", parse_dates=True, infer_datetime_format=True)


sp500_2008_df = sp500_2008_df[['Adj Close']]
sp500_2008_df.head()

              Adj Close
Date
2007-07-02  1519.430054
2007-07-03  1524.869995
2007-07-05  1525.400024
2007-07-06  1530.439941
2007-07-09  1531.849976

In [24]:
#ticker2008=ticker2008.reset_index()

In [25]:
covid_ticker.tail()

                             AAPL                                       \
                             open      high      low   close    volume
2020-11-16 00:00:00-05:00  118.92  120.9900  118.146  120.35  82097057
2020-11-17 00:00:00-05:00  119.55  120.6741  118.960  119.36  66758426
2020-11-18 00:00:00-05:00  118.61  119.8200  118.000  118.00  66333033
2020-11-19 00:00:00-05:00  117.59  119.0600  116.810  118.64  67716820
2020-11-20 00:00:00-05:00  118.64  118.7700  117.290  117.32  66641286

                               COST                                     ...  \
                               open      high     low   close   volume  ...
2020-11-16 00:00:00-05:00  376.9100  381.2800  376.91  378.50   941796  ...
2020-11-17 00:00:00-05:00  387.3200  388.4800  381.79  381.79  2784463  ...
2020-11-18 00:00:00-05:00  382.8883  388.0500  381.73  382.04  1770618  ...
2020-11-19 00:00:00-05:00  383.6100  384.7100  380.31  383.48  1496602  ...
2020-11-20 00:00:00-05:00  383.9500  385.5023  381.01  381.12  1303174  ...

                             MSFT                                      SBUX  \
                             open     high     low   close    volume   open
2020-11-16 00:00:00-05:00  214.87  217.740  214.52  217.39  19104246  96.79
2020-11-17 00:00:00-05:00  216.10  217.680  214.08  214.47  20050273  97.21
2020-11-18 00:00:00-05:00  213.65  215.170  210.93  210.97  23800497  98.63
2020-11-19 00:00:00-05:00  211.38  213.030  209.93  212.31  20398304  97.24
2020-11-20 00:00:00-05:00  212.20  213.285  210.00  210.34  18107933  97.42


                              high      low  close   volume
2020-11-16 00:00:00-05:00  97.6750  96.0200  97.18  5358882
2020-11-17 00:00:00-05:00  98.7750  96.8050  98.63  7059291
2020-11-18 00:00:00-05:00  99.3264  97.9100  97.94  4971143
2020-11-19 00:00:00-05:00  97.9200  96.8600  97.75  3768201
2020-11-20 00:00:00-05:00  97.5388  96.9522  97.00  3957469

[5 rows x 25 columns]

In [26]:
# create new covid and 2008 dataframe to store ckosing prices of each stock

covid_closingprices = pd.DataFrame()

# get closing prices for all tickers
for ticker in tickers:
    covid_closingprices[ticker]=covid_ticker[ticker]['close']
    
# drop time component on index
covid_closingprices.index = covid_closingprices.index.date
    
covid_closingprices.head()

               LB   SBUX    COST    AAPL    MSFT
2019-12-02  18.17  84.58  297.39  264.09  149.55
2019-12-03  17.34  84.83  295.74  259.52  149.32
2019-12-04  18.70  85.40  296.49  261.74  149.83
2019-12-05  18.08  84.46  293.13  265.58  149.92
2019-12-06  17.82  86.33  294.90  270.70  151.75

In [28]:
closingprices2008 = pd.DataFrame()

# get closing prices for all tickers
for ticker in tickers:
    closingprices2008[ticker]=ticker2008[ticker]['close']
    
# drop time component on index
closingprices2008.index = closingprices2008.index.date
    
closingprices2008.head()

               LB   SBUX   COST    AAPL   MSFT
2008-01-02  18.20  9.655  68.14  27.847  35.23
2008-01-03  17.29  9.355  67.08  27.836  35.37
2008-01-04  16.52  9.040  65.65  25.704  34.36
2008-01-07  16.07  9.195  65.94  25.369  34.65
2008-01-08  15.73  9.915  64.94  24.461  33.46

In [29]:
# calculate daily returns for each timeframe
covid_dr = covid_closingprices.pct_change().dropna()
returns2008 = closingprices2008.pct_change().dropna()

In [ ]:
covid_dr.plot(figsize=(15,10))

In [ ]:
returns2008.plot(figsize=(20,10))

In [ ]:
returns2008.plot.density(alpha=.5,figsize=(15,10))

In [ ]:
lb_covar_covid = covid_dr['LB'].cov(covid_dr['S&P 500'])

## volatility for 2008 & COVID
* standard deviation
* box & whisker plot?

## Industries
* Tech: AMD, AAPL, MSFT, GOOG, INTC
* Entertainment: IMAX, DIS, NFLX, CNK, SNE
* Fast Food/Restaurants: MCD, WEN, YUM, DPZ, CMG
* Energy: XOM, BP, RDS, COP, CVX
* Travel/Airlines: EXPE, BKNG, DAL, AAP, UAL